@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background-image: 
      url('../../public/curves-section.png'),
      url('../../public/curves-footer.png');
  background-position: left left, top right;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, contain;
  background-color: black;
}

.container {
  min-width: 100%;
  padding-right: 32px;
  padding-left: 32px;
}
